.table-row {

    &__item {}
}

.choosen-card {
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 48px;
    }

    &__descr {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 24px;
    }

    &__card {}

    &__delete-card {}
}

.control {

    &_indicator {}
}

.control-radio {}

.card-num {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    line-height: 21px;

    &.visa {
        &::before {
            content: url(../img/icon/visa.svg);
            margin-right: 32px;

            @media(max-width: $md5 + px) {
                margin-right: 12px;
            }
        }
    }

    &.master {
        &::before {
            content: url(../img/icon/master-card.svg);
            margin-right: 32px;

            @media(max-width: $md5 + px) {
                margin-right: 12px;
            }
        }
    }

    &.activе {
        &::after {
            content: 'Активна';
            color: #76B413;
            font-size: 12px;
            line-height: 14px;
            margin-left: 20px;

            @media(max-width: $md5 + px) {
                position: absolute;
                bottom: 0;
                left: 97px;
                margin: -11px;
            }
        }
    }

    &.unactivе {
        color: #414143;
        opacity: .5;

        &::after {
            content: 'Неактивна';
            font-size: 12px;
            line-height: 14px;
            color: #414143;
            margin-left: 20px;

            @media(max-width: $md5 + px) {
                position: absolute;
                bottom: 0;
                left: 97px;
                margin: -11px;
                margin: -11px;
            }

        }
    }
}



.btn-reset {}

.delete-card {}


.choosen-card__add-btn {
    margin: 0 auto;
    position: relative;
    padding-left: 30px;
    margin-bottom: 72px;

    &::before {
        position: absolute;
        content: url(../img/icon/add-card.svg);
        top: 0;
        left: 0;
    }
}