<section class="any-card">
    <div class="container">
        <h2 class="section__title any-card__title">Кредит на картку будь-якого українського банку</h2>
        <div class="any-card__steps">
            <div class="any-card__step">
                <div class="any-card__step-icon">
                    <img src="img/pappers.svg" alt="">
                </div>
                <div class="any-card__step-label">Заявка</div>
                <div class="any-card__step-text">Заповнюй заявку онлайн</div>
            </div>
            <div class="any-card__step">
                <div class="any-card__step-icon">
                    <img src="img/contract.svg" alt="">
                </div>
                <div class="any-card__step-label">Договір</div>
                <div class="any-card__step-text">Підписуй договір онлайн</div>
            </div>
            <div class="any-card__step">
                <div class="any-card__step-icon">
                    <img src="img/wallet.svg" alt="">
                </div>
                <div class="any-card__step-label">Гроші вже у тебе!</div>
                <div class="any-card__step-text">Отримуй гроші на свою картку</div>
            </div>
        </div>
    </div>
</section>