<section class="credit-calc">
    <div class="container">
        <div class="credit-calc__wrapper">
            <div class="credit-calc__content">
                <div class="credit-calc__title">
                    <div class="credit-calc__title-img">
                        <img src="img/lemon.png" alt="">
                    </div>
                    <div class="credit-calc__title-text">
                        <span class="credit-calc__title-large">FRE$H
                            CA$H</span>
                        <span class="credit-calc__title-small">Це кредит,
                            а не позика</span>
                    </div>
                </div>
                <div class="credit-calc__description">
                    <div class="credit-calc__description-text credit-calc__description-text_white">
                        <span>Свіжі гроші</span>
                    </div>
                    <div class="credit-calc__description-text credit-calc__description-text_yellow">
                        <span>на свіжі бажання</span>
                    </div>
                </div>
            </div>
            <div class="credit-calc__calculation calculation">
                <div class="calculation__header">
                    Онлайн-кредит на картку
                    за 10 хвилин <span class="back-yellow-figure"><span>Гроші на карті в <date id="ten-minuts-time">9:34
                            </date>
                        </span></span>
                </div>
                <div class="calculation__body">
                    <div class="calculation-item">
                        <div class="calculation-item__up">
                            <div class="calculation-item__label">Сума кредиту</div>
                            <div class="calculation-item__inp-block">
                                <input id="calculation-summ" type="text" readonly value="20 000 грн"
                                    class="calculation-item__input">
                            </div>
                        </div>
                        <div class="calculation-item__range-slider">
                            <input id="calculation-range-summ" type="range" min="3000" max="30000" step="1000"
                                value="20000">
                        </div>
                    </div>
                </div>
                <div class="calculation__offer-block">
                    <div class="calculation-offer">
                        <div class="calculation-offer__item calculation-offer__item--pay">
                            <div class="calculation-offer__label">Щомісячний платіж</div>
                            <div class="calculation-offer__value">
                                <span class="calculation-offer__value-summ">9453 грн</span>
                                <span class="calculation-offer__value-info">315 грн. на день</span>
                            </div>
                        </div>
                        <div class="calculation-offer__item mb-0">
                            <div class="calculation-offer__label">Кількість платежів</div>
                            <div class="calculation-offer__value">12</div>
                        </div>
                        <div class="calculation-offer__descr">Зручний платіж один раз на місяць, ви повністю погасите
                            кредит за 12 місяців</div>
                    </div>
                </div>
                <div class="calculation__footer">
                    <button type="button" class="calculation__footer-btn btn">ОТРИМАТИ ГРОШІ</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="relative-calc-block"></div>