<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <ul class="footer__list">
                    <li class="footer__list-elem">
                        <a href="https://unexbank.ua/site/page.php?lang=UA&id_part=530" target="blank"
                            class="footer__link">
                            Реквізити
                        </a>
                    </li>
                    <li class="footer__list-elem">
                        <a href="https://unexbank.ua/site/page.php?lang=UA&id_part=1030" target="blank"
                            class="footer__link">
                            Фонд гарантування вкладів фізичних осіб
                        </a>
                    </li>
                    <li class="footer__list-elem">
                        <a href="https://unexbank.ua/site/page.php?lang=UA&id_part=733" target="blank"
                            class="footer__link">
                            Зворотній зв’язок
                        </a>
                    </li>
                    <li class="footer__list-elem">
                        <a href="#" target="blank" class="footer__link">
                            Відділення та банкомати
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-contacts">
                <div class="footer-contacts__title">Контакт центр:</div>
                <div class="footer-contacts__phone">
                    <a href="tel:0445851487">
                        (044) 585-14-87
                    </a>
                    <span class="footer-contacts__descrption">(по тарифам оператора)</span>
                </div>
                <div class="footer-contacts__phone">
                    <a href="tel:0 800 500 686">
                        0 800 500 686
                    </a>
                    <span class="footer-contacts__descrption">(по тарифам оператора)</span>
                </div>
                <button type="button" class="footer-copy__chat btn-reset">
                    <span>ОНЛАЙН ЧАТ</span>
                </button>
            </div>
            <div class="footer__right">
                <div class="footer-socail">
                    <div class="footer-socail__links">
                        <div class="footer-socail__label">Ми у соцмережах:</div>
                        <div class="footer-social__icons">
                            <a href=" https://www.facebook.com/UnexBank" target="blank">
                                <img src="img/icon/facebook.svg" alt="">
                            </a>
                            <a href="https://www.youtube.com/user/UnexBankPJSC" target="blank">
                                <img src="img/icon/youtube.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- <div class="footer-socail__news footer-news">
                        <form action="#" id="footer-email-form">
                            <div class="footer-news__label">Підписуйтеся на наші новини!</div>
                            <div class="footer-news__search">
                                <input class="footer__input-search" name="email" type="email" type="search">
                                <button class="btn footer-news__search-btn">
                                    Підписатись
                                </button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer-docs">
                <div class="footer-docs__list">
                    <a href="#" class="footer-copy__item">© АТ “ЮНЕКС БАНК”. Учасник ФГВФО</a>
                    <a href="#" class="footer-copy__item">Ліцензія НБУ від 28.10.2011</a>
                    <div class="footer-copy__item">© 2004- 2021, АТ “ЮНЕКС БАНК”</div>
                </div>
            </div>
        </div>
    </div>
</footer>