<section class="questions">
    <div class="container">
        <div class="questions__inner inner-block">
            <h2 class="section__title questions__title">Нічого не приховуємо</h2>
            <div class="questions-item">
                <div class="questions-item__header">
                    <div class="questions-item__left">
                        <div class="questions-item__title">Умови та попередження</div>
                    </div>
                    <div class="questions-item__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="questions-item__body">
                    <ul class="questions-item__documents">
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Умови</span> (розгорнутий розрахунок кредиту)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Попередження </span>(про можливі наслідки для клієнта)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="questions-item">
                <div class="questions-item__header">
                    <div class="questions-item__left">
                        <div class="questions-item__title">Чи можна погасити кредит достроково?
                        </div>
                    </div>
                    <div class="questions-item__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="questions-item__body">
                    <div class="questions-item__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo enim vero sit quidem provident ea
                        at
                        itaque accusantium expedita deserunt dolor libero, non earum eaque quia quisquam nam voluptatum
                        ad!
                    </div>
                </div>
            </div>
            <div class="questions-item">
                <div class="questions-item__header">
                    <div class="questions-item__left">
                        <div class="questions-item__title">Погашення кредиту
                        </div>
                    </div>
                    <div class="questions-item__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="questions-item__body">
                    <ul class="questions-item__documents">
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="questions-item">
                <div class="questions-item__header">
                    <div class="questions-item__left">
                        <div class="questions-item__title">Вимоги до клієнта
                        </div>
                    </div>
                    <div class="questions-item__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="questions-item__body">
                    <ul class="questions-item__documents">
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="questions-item">
                <div class="questions-item__header">
                    <div class="questions-item__left">
                        <div class="questions-item__title">Коли можна подати повторну заявку?
                        </div>
                    </div>
                    <div class="questions-item__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="questions-item__body">
                    <ul class="questions-item__documents">
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="questions-item">
                <div class="questions-item__header">
                    <div class="questions-item__left">
                        <div class="questions-item__title">Можливі наслідки
                        </div>
                    </div>
                    <div class="questions-item__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="questions-item__body">
                    <ul class="questions-item__documents">
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="questions-item">
                <div class="questions-item__header">
                    <div class="questions-item__left">
                        <div class="questions-item__title">Файли для завантаження
                        </div>
                    </div>
                    <div class="questions-item__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="questions-item__body">
                    <ul class="questions-item__documents">
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                        <li class="questions-item__doc">
                            <div class="questions-item__doc-name">
                                <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                            </div>
                            <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                                .pdf
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>