<section class="repay">
    <div class="container">
        <h2 class="section__title questions__title">Сплачуй зручно</h2>
        <div class="repay__inner">
            <div class="repay__item">
                <div class="repay__item-wrapper">
                    <div class="repay__item-content">
                        <div class="repay__item-title">Карткою</div>
                        <div class="repay__item-text">Ти можеш погасити кредит онлайн не виходячи з дому.
                            Просто перейди в Особистий кабінет і оплати його банківською карткою.</div>
                        <div class="repay__item-icon">
                            <a href="#">
                                <img src="img/visa.png" alt="">
                            </a>
                            <a href="#">
                                <img src="img/mastercard.png" alt="">
                            </a>
                            <a href="#">
                                <img src="img/prostir.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="repay__item-images">
                        <img src="img/macbook.png" alt="">
                    </div>
                </div>
            </div>
            <div class="repay__item">
                <a class="repay__link" href="#">
                    <div class="repay__item-wrapper">
                        <div class="repay__item-content">
                            <div class="repay__item-title">Готівкою</div>
                            <div class="repay__item-text">Оплата кредиту в терміналі Приватбанку -
                                це швидко і зручно.
                                Ти зможеш знайти термінал в найближчих супермаркетах.</div>
                            <div class="repay__item-icon">
                                <a href="#">
                                    <img src="img/icon/privat-bank.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="repay__item-images">
                            <img src="img/Mask.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>