<section class="why">
    <div class="container">
        <div class="why__inner inner-block">
            <h2 class="section__title why__title">Чому варто взяти гроші у нас</h2>
            <div class="why__wrapper">
                <div class="why__item why__item--first">
                    <div class="why__item-title"><span class="yellow-back"><span>Cправжній</span></span> банк</div>
                    <div class="why__item-text">Це не позика, без підступу і прихованих відсотків. Все прозоро, зручно,
                        швидко і надійно!</div>
                </div>
                <div class="why__item why__item--second">
                    <div class="why__item-title">Гроші <span class="yellow-back"><span>за 10 хвилин</span></span> на
                        картку
                        будь-якого банку</div>
                    <div class="why__item-text">Більше не потрібно їхати до відділення банку - оформлюй кредит онлайн.
                        Гроші зарахуємо на картку будь-якого українського банку.</div>
                </div>
                <div class="why__item why__item--third">
                    <div class="why__item-title">Прості платежі та <span class="yellow-back"><span>вигідні
                                умови</span></span></div>
                    <div class="why__item-text">Ти отримаєш чесну процентну ставку і платіж раз на місяць. Плати, як
                        зручно: карткою в особистому кабінеті або через термінали Приватбанку без комісії!</div>
                </div>
            </div>
        </div>
    </div>
</section>